//General clasess
*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
    font-size: 14px;
}

img{
    max-width: 100%;
}

.container, body{
    background-color: #f0f0f0 !important;
}

.container{
    height: 100%;
    width: 100%;
}

.br-4{
    border-radius: 4px;
}

.mt-5{
    margin-top: 5px;
}

.ml-15{
    margin-left: 15px;
}

.nopadding{
    padding: 0 !important;
}

.font_cursive{
font-family: cursive;
}

.font_fantasy{
font-family: fantasy;
}

.font_sans{
font-family: sans-serif;
}

.font_mono{
font-family: monospace;
}

.loading{
    height:100%;
    width:auto;
    background-image: url('../images/loading.gif');
    background-position: 50%;
    background-repeat: no-repeat;
}

div.tagsinput span.tag{
    background-color: #269abc;
    color: #FFFFFF;
    border-color: white;
    border-radius: 4px;
}

div.tagsinput span.tag a{
    color: #000000;
}

.td_preview_image{
    width: 100px;
    height: 100px;
    text-align: center;
}

.preview_image{
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    padding: 0 !important;
    cursor: pointer;
}

.contentTable{
    min-height: 200px;
}

.inline_table{
    display: inline-flex !important;
}

#aspect
{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 2em 0;
    list-style-type: none;
    li
    {
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
        margin: 0;
        background-color: rgba(255,255,255,.5);
        margin-bottom: 2%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 1%;
        padding-bottom: 1%;
    }

    li a
    {
        display: block;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
    }

    img
    {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
    li.active{
        border: 1px solid red ;
    }

    li a
    {
        position: relative;
        height: 0;
        padding-top: 56.25%;
    }

    img
    {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.dropdown-toggle, .dropdown-menu{
    background-color: #FFFFFF !important;
    border-color: rgb(204, 204, 204) !important;
    box-shadow: none !important;
}
.bootstrap-select:focus, .dropdown-toggle:focus,
.dropdown-toggle:focus, .dropdown-menu:focus{
    outline: none !important;
}

.dropdown-menu > li > a:focus{
    outline: none !important;
}

.modal-dialog{
    width: 70% !important;
    margin: 0;
}

#modal-basic{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.cortina{
    width: 100%;
    height: 400px;
    border: 1px solid #cccccc;
}

.div_imagen_cortina{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -10;
}

.div_imagen_cortina .draggable{
    cursor: move;
}

.div_imagen_cortina .div_texto_cortina{
    z-index: 10;
    position: absolute;
    cursor: move;
}

#imagen{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imagen_cortina100{
    width: 100% !important;
    height: 100% !important;
}

#editLiveForm{
    height: 175px;
}

.no_hover:hover{
    background-color: transparent !important;
}

//Responsive mobile portrait OK 24052017
@media (min-width: 320px) AND (max-width: 567px) {
    //HEADER
    #header {
        height: auto;
        margin-bottom: 0 !important;

        #img_header{
            height: auto;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            max-width: 320px;
            margin-top: 5%;
        }

        #nav_menu{
            height: auto;
            width: 100%;
            display: inline-block;
            margin-top: 5%;
            ul{
                margin-left: 0 !important;
            }
            .li_lang{
                display: inline-block;
                margin-left: 8%;
                margin-right: 0;
                li{
                    display: inline-block;
                }
            }
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
            .onlyLang{
                margin-left: 78%;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: auto;
        #myCarousel{
            height: auto;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: auto;
                .item{
                    img{
                        width: 100%;
                        height: auto;
                        max-width: 568px;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:auto;
    }
    #form_login{
        margin-bottom:25%;
        margin-top:25%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        .title_form_login{
            font-size: 1.4em;
        }
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: auto;
        margin-top: 5%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 2%;
            font-size: 1.4em;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        margin: 20px 0 20px 0;
        text-align: center;
        .title_option_index{
            display: none;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    //MOD ESTAMPACION
    #estampacion_content_buscador{
        width: 100%;
        height: auto;
        margin-top: 5%;
        #buscador_imagenes .form-control{
            .mt-5
        }
    }

    #estampacion_content{
        margin-top: 2%;
        .text_ref_image{
            display: none;
        }
    }

    .pagination {
        text-align: center;
        height: auto;
        width: 100%;
        background-color: transparent;
        color: #999999;
        cursor: default;
        outline:0;
        text-decoration:none;
        ul{
            height: 100%;
            li{
                background-color: #FFFFFF;
                height: 100%;
                display: inline-block;
                a{
                    height: 100%;
                    -moz-border-bottom-colors: none;
                    -moz-border-image: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #DDDDDD;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    float: left;
                    line-height: 34px;
                    padding: 0 14px;
                    text-decoration: none;
                    cursor:pointer;
                }
                a:hover{
                    color:#2d2d28;
                    outline:0;
                    text-decoration:none;
                }
                .active a{
                    outline:0;
                    text-decoration:none;
                    color: #999999;
                    cursor: default;
                }
                .disabled a{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
                .disabled a:hover{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
            }
        }
        li:first-child a{
            border-left-width: 1px;
            border-radius: 3px 0 0 3px;
        }
        li:last-child a {
            border-radius: 0 3px 3px 0;
        }
        .pagination-centered{
            text-align: center;
        }
        .pagination-right {
            text-align: right;
        }
    }

    #medidas_cortina{
        label{
            display: none;
        }
        .dropdown-menu{
            margin-left: 15px;
        }
    }

    #footer{
        height:auto;
        margin-top: 9%;
        #img_footer{
            left: 0;
            bottom: 0;
            .nopadding
        }
    }

}

//Responsive desktop small window OK 24052017
@media (min-width: 400px) AND (max-width: 567px){
    #header {
        #img_header{
            margin-top: 40px;
        }
        #nav_menu{
            margin-top: 100px;
        }
    }
}

//Responsive mobile landscape OK 24052017
@media (min-width: 568px) AND (max-width: 767px) AND (orientation: landscape) {
    //HEADER
    #header {
        height: auto;
        margin-bottom: 0 !important;

        #img_header{
            height: auto;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            max-width: 320px;
            margin-top: 5%;
        }

        #nav_menu{
            height: auto;
            width: 100%;
            display: inline-block;
            margin-top: 2%;
            ul{
                margin-left: 5% !important;
            }
            .li_lang{
                display: inline-block;
                margin-left: 45%;
                margin-right: 0%;
                li{
                    display: inline-block;
                }
            }
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
            .onlyLang{
                margin-left: 85%;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: auto;
        #myCarousel{
            height: 100%;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: 100%;
                .item{
                    height: 100%;
                    img{
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:auto;
    }
    #form_login{
        margin-bottom:10%;
        margin-top:10%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        .title_form_login{
            font-size: 1.4em;
        }
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: auto;
        margin-top: 5%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 2%;
            font-size: 1.4em;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        margin: 20px 0 20px 0;
        text-align: center;
        .title_option_index{
            display: none;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    //MOD ESTAMPACION
    #estampacion_content_buscador{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        #buscador_imagenes .form-control{
            .mt-5
        }
        .dropdown-toggle, .dropdown-menu{
            background-color: #FFFFFF;
            border-color: rgb(204, 204, 204);
            box-shadow: none !important;
        }
        .dropdown-toggle:focus, .dropdown-menu:focus{
            outline: none !important;
        }

        .dropdown-menu > li > a:focus{
            outline: none !important;
        }
    }

    #estampacion_content{
        margin-top: 2%;
        .text_ref_image{
            display: none;
        }
        #aspect li{
            width: 50%;
        }
    }

    .pagination {
        height: auto;
        width: 100%;
        background-color: transparent;
        color: #999999;
        cursor: default;
        outline:0;
        text-decoration:none;
        ul{
            height: 100%;
            li{
                background-color: #FFFFFF;
                height: 100%;
                display: inline-block;
                a{
                    height: 100%;
                    -moz-border-bottom-colors: none;
                    -moz-border-image: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #DDDDDD;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    float: left;
                    line-height: 34px;
                    padding: 0 14px;
                    text-decoration: none;
                    cursor:pointer;
                }
                a:hover{
                    color:#2d2d28;
                    outline:0;
                    text-decoration:none;
                }
                .active a{
                    outline:0;
                    text-decoration:none;
                    color: #999999;
                    cursor: default;
                }
                .disabled a{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
                .disabled a:hover{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
            }
        }
        li:first-child a{
            border-left-width: 1px;
            border-radius: 3px 0 0 3px;
        }
        li:last-child a {
            border-radius: 0 3px 3px 0;
        }
        .pagination-centered{
            text-align: center;
        }
        .pagination-right {
            text-align: right;
        }
    }

    #medidas_cortina{
        label{
            display: none;
        }
    }

    #footer{
        height:auto;
        #img_footer{
            left: 0;
            bottom: 0;
            .nopadding
        }
    }
}

//Responsive desktop medium window OK 24052017
@media (min-width: 568px) AND (max-width: 767px) AND (orientation: portrait) {
    //HEADER
    #header {
        height: 15%;
        margin-bottom: 0 !important;
        position: relative;

        #img_header{
            height: 30px;
            width: 90%;
            left: 5%;
            right: 5%;
            max-width: 320px;
            margin-top: 30px;
            position: absolute;
        }

        #nav_menu{
            height: 30px;
            width: 100%;
            display: inline-block;
            margin-top: 80px;
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: 40%;
        #myCarousel{
            height: 100%;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: 100%;
                .item{
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:40%;
        position: relative;
    }
    #form_login{
        position: absolute;
        top:25%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: 10%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 15px;
            padding-top: 15px;
            font-size: 18px;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        margin: 20px 0 20px 0;
        text-align: center;
        .title_option_index{
            display: none;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    #footer{
        height:5%;
        #img_footer{
            position: absolute;
            left: 0;
            bottom: 0;
            .nopadding
        }
    }
}

//Responsive tablet portrait
@media (min-width: 768px) AND (max-width: 1024px) AND (orientation: portrait) {

    .container{
        width: 100% !important;
    }
    //HEADER
    #header {
        height: auto;
        margin-bottom: 0 !important;

        #img_header{
            height: auto;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            max-width: 320px;
            margin-top: 5%;
        }

        #nav_menu{
            height: auto;
            width: 100%;
            display: inline-block;
            margin-top: 5%;
            .list-inline{
                margin-left: 0 !important;
            }
            .li_lang{
                display: inline-block;
                margin-left: 60%;
                margin-right: 0;
                li{
                    display: inline-block;
                }
            }
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
            .onlyLang{
                margin-left: 90%;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: auto;
        #myCarousel{
            height: auto;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: auto;
                .item{
                    img{
                        width: 100%;
                        height: auto;
                        max-width: 768px;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:auto;
    }
    #form_login{
        margin-bottom:15%;
        margin-top:22%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        .title_form_login{
            font-size: 1.6em;
        }
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: auto;
        margin-top: 5%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 2%;
            font-size: 1.4em;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        margin: 6.5% 0 6.5% 0;
        text-align: center;
        .title_option_index{
            display: none;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin-bottom: 2%;
            margin-top: 2%;
            cursor: pointer;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    //MOD ESTAMPACION
    #estampacion_content_buscador{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        #buscador_imagenes .form-control{
            .mt-5
        }
        .dropdown-toggle, .dropdown-menu{
            background-color: #FFFFFF;
            border-color: rgb(204, 204, 204);
            box-shadow: none !important;
        }
        .dropdown-toggle:focus, .dropdown-menu:focus{
            outline: none !important;
        }

        .dropdown-menu > li > a:focus{
            outline: none !important;
        }
    }

    #estampacion_content{
        margin-top: 2%;
        .text_ref_image{
            display: none;
        }
        #aspect li{
            width: 50%;
        }
    }

    .pagination {
        height: auto;
        width: 100%;
        background-color: transparent;
        color: #999999;
        cursor: default;
        outline:0;
        text-decoration:none;
        ul{
            height: 100%;
            li{
                background-color: #FFFFFF;
                height: 100%;
                display: inline-block;
                a{
                    height: 100%;
                    -moz-border-bottom-colors: none;
                    -moz-border-image: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #DDDDDD;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    float: left;
                    line-height: 34px;
                    padding: 0 14px;
                    text-decoration: none;
                    cursor:pointer;
                }
                a:hover{
                    color:#2d2d28;
                    outline:0;
                    text-decoration:none;
                }
                .active a{
                    outline:0;
                    text-decoration:none;
                    color: #999999;
                    cursor: default;
                }
                .disabled a{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
                .disabled a:hover{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
            }
        }
        li:first-child a{
            border-left-width: 1px;
            border-radius: 3px 0 0 3px;
        }
        li:last-child a {
            border-radius: 0 3px 3px 0;
        }
        .pagination-centered{
            text-align: center;
        }
        .pagination-right {
            text-align: right;
        }
    }

    #medidas_cortina{
        label{
            display: none;
        }
    }

    #footer{
        height:auto;
        margin-top: 10%;
        #img_footer{
            left: 0;
            bottom: 0;
            .nopadding
        }
    }
}

@media (min-width: 768px) AND (max-width: 1024px) AND (orientation: landscape) {
    //HEADER

    .container{
        width: 100% !important;
    }
    //HEADER
    #header {
        height: auto;
        margin-bottom: 0 !important;

        #img_header{
            height: auto;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            max-width: 320px;
            margin-top: 5%;
        }

        #nav_menu{
            height: auto;
            width: 100%;
            display: inline-block;
            margin-top: 2%;
            ul{
                margin-left: 5% !important;
            }
            .li_lang{
                display: inline-block;
                margin-left: 68%;
                margin-right: 0;
                li{
                    display: inline-block;
                }
            }
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: auto;
        #myCarousel{
            height: 100%;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: 100%;
                .item{
                    height: 100%;
                    img{
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:auto;
    }
    #form_login{
        margin-bottom:10%;
        margin-top:10%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        .title_form_login{
            font-size: 1.4em;
        }
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: auto;
        margin-top: 5%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 2%;
            font-size: 1.4em;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        height: auto;
        min-height: 36%;
        margin: 4% 0 4% 0;
        text-align: center;
        .title_option_index{
            display: none;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    //MOD ESTAMPACION
    #estampacion_content_buscador{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        #buscador_imagenes .form-control{
            .mt-5
        }
        .dropdown-toggle, .dropdown-menu{
            background-color: #FFFFFF;
            border-color: rgb(204, 204, 204);
            box-shadow: none !important;
        }
        .dropdown-toggle:focus, .dropdown-menu:focus{
            outline: none !important;
        }

        .dropdown-menu > li > a:focus{
            outline: none !important;
        }
    }

    #estampacion_content{
        margin-top: 2%;
        .text_ref_image{
            display: none;
        }
        #aspect li{
            width: 50%;
        }
    }

    .pagination {
        height: auto;
        width: 100%;
        background-color: transparent;
        color: #999999;
        cursor: default;
        outline:0;
        text-decoration:none;
        ul{
            height: 100%;
            li{
                background-color: #FFFFFF;
                height: 100%;
                display: inline-block;
                a{
                    height: 100%;
                    -moz-border-bottom-colors: none;
                    -moz-border-image: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #DDDDDD;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    float: left;
                    line-height: 34px;
                    padding: 0 14px;
                    text-decoration: none;
                    cursor:pointer;
                }
                a:hover{
                    color:#2d2d28;
                    outline:0;
                    text-decoration:none;
                }
                .active a{
                    outline:0;
                    text-decoration:none;
                    color: #999999;
                    cursor: default;
                }
                .disabled a{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
                .disabled a:hover{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
            }
        }
        li:first-child a{
            border-left-width: 1px;
            border-radius: 3px 0 0 3px;
        }
        li:last-child a {
            border-radius: 0 3px 3px 0;
        }
        .pagination-centered{
            text-align: center;
        }
        .pagination-right {
            text-align: right;
        }
    }

    #medidas_cortina{
        label{
            display: none;
        }
    }

    #footer{
        height:auto;
        #img_footer{
            left: 0;
            bottom: 0;
            .nopadding
        }
    }
}


//Responsive tablet landscape OK 24052017
@media (min-width: 1025px) {

    .container{
        width: 90% !important;
        max-width: 1100px;
    }
    //HEADER
    #header {
        height: auto;
        margin-bottom: 0 !important;

        #img_header{
            height: auto;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            max-width: 320px;
            margin-top: 5%;
        }

        #nav_menu{
            height: auto;
            width: 100%;
            display: inline-block;
            margin-top: 5%;
            .list-inline{
                margin-left: 0 !important;
            }
            .li_lang{
                display: inline-block;
                margin-left: 90%;
                margin-right: 0;
                li{
                    display: inline-block;
                }
            }
            li.active{
                background-color: #b4162c;
                border-radius: 4px;
                color: #FFFFFF;
                :hover{
                    color: #FFFFFF;
                }
            }

            li:hover{
                background-color: #b4162c;
                border-radius: 4px;
                cursor: pointer;
                color: #000000;
            }

            li a{
                text-decoration: none;
                color: inherit;
                font-size: 0.9em;
            }
            .onlyLang{
                margin-left: 90%;
            }
        }

        .icon_flag{
            width: 1.5em;
            height: 1.5em;
            display: inline-block;
        }

        .flag-es, .flag-pt{
            height:1.2em;
            width:2em;
            background-position: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .flag-es{
            background-image: url('../images/flags/flags/flat/24/Spain.png');
        }

        .flag-pt{
            background-image: url('../images/flags/flags/flat/24/Portugal.png');
        }
    }
    //END HEADER

    //SLIDERS
    #sliders{
        height: auto;
        #myCarousel{
            height: auto;
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
            .carousel-inner{
                height: auto;
                .item{
                    img{
                        width: 100%;
                        height: auto;
                        max-width: 1100px;
                    }
                }
            }
        }
    }

    //END SLIDERS

    //LOGIN
    #content_login{
        height:auto;
    }
    #form_login{
        margin-bottom:8%;
        margin-top:10%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        .title_form_login{
            font-size: 1.6em;
        }
        input {
            .br-4;
            text-align: center;
        }
        .user_login{
            margin-bottom: 2%;
        }
        #pass_login{
            margin-bottom: 2%;
        }
    }
    //END LOGIN

    //TITLE PAGE
    #title_page{
        background-color: #b4162c;
        height: auto;
        margin-top: 5%;
        .text_title_page{
            color: #ffffff;
            padding-bottom: 2%;
            font-size: 1.4em;
            font-family: "Marker Felt" !important;
        }
    }
    //END TITLE PAGE

    //INDEX
    #index_content{
        height: auto;
        text-align: center;
        .title_option_index{
            display: none;
        }
        .text_option_index{
            min-height: 130px;
        }
        div{
            background-color: #FFFFFF;
            border-radius: 4px;
            color: #000000;
            text-align: center;
            margin-bottom: 2%;
            margin-top: 2%;
            cursor: pointer;
            width: 30%;
            border: 1px solid #d2d2d2;
            margin-left: 1.5%;
            margin-right: 1.5%;
            height: 100%;
            padding-top: 2%;
            padding-bottom: 2%;
            .btn-info{
                margin-bottom: 10px;
            }
            a{
                color: #FFFFFF;
            }
        }
    }
    //END INDEX

    //MOD ESTAMPACION
    #estampacion_content_buscador{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        #texto_busqueda{
            width: 75%;
        }
        .bootstrap-select{
            width: 20%;
        }
        #buscador_imagenes .form-control{
            .mt-5
        }
        .dropdown-toggle, .dropdown-menu{
            background-color: #FFFFFF;
            border-color: rgb(204, 204, 204);
            box-shadow: none !important;
        }
        .dropdown-toggle:focus, .dropdown-menu:focus{
            outline: none !important;
        }

        .dropdown-menu > li > a:focus{
            outline: none !important;
        }
    }

    #estampacion_content{
        margin-top: 2%;
        .text_ref_image{
            display: none;
        }
        #aspect li{
            width: 25%;
        }
    }

    .pagination {
        height: auto;
        width: 100%;
        background-color: transparent;
        color: #999999;
        cursor: default;
        outline:0;
        text-decoration:none;
        ul{
            height: 100%;
            li{
                background-color: #FFFFFF;
                height: 100%;
                display: inline-block;
                a{
                    height: 100%;
                    -moz-border-bottom-colors: none;
                    -moz-border-image: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #DDDDDD;
                    border-style: solid;
                    border-width: 1px 1px 1px 0;
                    float: left;
                    line-height: 34px;
                    padding: 0 14px;
                    text-decoration: none;
                    cursor:pointer;
                }
                a:hover{
                    color:#2d2d28;
                    outline:0;
                    text-decoration:none;
                }
                .active a{
                    outline:0;
                    text-decoration:none;
                    color: #999999;
                    cursor: default;
                }
                .disabled a{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
                .disabled a:hover{
                    background-color: transparent;
                    color: #999999;
                    cursor: default;
                }
            }
        }
        li:first-child a{
            border-left-width: 1px;
            border-radius: 3px 0 0 3px;
        }
        li:last-child a {
            border-radius: 0 3px 3px 0;
        }
        .pagination-centered{
            text-align: center;
        }
        .pagination-right {
            text-align: right;
        }
    }

    #medidas_cortina{
        label{
            display: none;
        }
    }

    #footer{
        height:auto;
        #img_footer{
            left: 0;
            bottom: 0;
            .nopadding
        }
    }
}


/*.pt-5{*/
    /*margin-top: 5px;*/
/*}*/
/*#header{*/
    /*height: 120px;*/
    /*background-image: url('../images/cabecera-380.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 40px;*/
/*}*/

/*#header #nav_menu{*/
    /*margin-top: 90px;*/
    /*display: inline-block;*/
/*}*/

/*#header #nav_menu li a{*/
    /*text-decoration: none;*/
    /*color: inherit;*/
/*}*/

/*#header #nav_menu li.active{*/
    /*background-color: #b4162c;*/
    /*border-radius: 4px;*/
    /*color: #FFFFFF;*/
/*}*/

/*#header #nav_menu li.active:hover{*/
    /*color: #FFFFFF;*/
/*}*/

/*#header #nav_menu li:hover{*/
    /*background-color: #b4162c;*/
    /*border-radius: 4px;*/
    /*cursor: pointer;*/
    /*color: #000000;*/
/*}*/

/*#header #header_lang{*/
    /*margin-top: 90px;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*width: 100px;*/
    /*height: 20px;*/
    /*text-align: right;*/
/*}*/

/*.icon-flag{*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*display: inline-block;*/
/*}*/

/*.flag-es, .flag-pt{*/
    /*height:20px;*/
    /*width:20px;*/
    /*background-position: 50%;*/
    /*background-repeat: no-repeat;*/
    /*cursor: pointer;*/
/*}*/

/*.flag-es{*/
    /*background-image: url('../images/flags/flags/flat/24/Spain.png');*/
/*}*/

/*.flag-pt{*/
    /*background-image: url('../images/flags/flags/flat/24/Portugal.png');*/
/*}*/

/*#myCarousel{*/
    /*-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
/*}*/

/*#myCarousel .item img{*/
    /*height: 300px;*/
    /*width: 100%;*/
/*}*/

/*#title_page{*/
    /*height:150px;*/
    /*background-color: #b4162c;*/
/*}*/

/*.text_title_page{*/
    /*color: #ffffff;*/
    /*padding-top: 55px;*/
    /*font-family: "Marker Felt" !important;*/
/*}*/

/*#index_content{*/
    /*height:200px;*/
    /*margin-top: 20px;*/
/*}*/

/*.title_option_index{*/
    /*text-align: center;*/
    /*display: block;*/
    /*margin-top: 20px;*/
/*}*/

/*.text_option_index{*/
    /*text-align: justify;*/
    /*margin-top: 20px;*/
/*}*/

/*#estampacion_content{*/
    /*height: 600px;*/
/*}*/

/*#estampacion_content_form legend{*/
    /*font-size: 18px;*/
/*}*/

/*#content_image_galery{*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
/*}*/

/*.image_galery{*/
    /*height: 200px;*/
    /*width: auto;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*padding: 0 !important;*/
    /*cursor: pointer;*/
    /*margin-top: 20px;*/
/*}*/

/*.image_galery:hover{*/
    /*-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);*/
    /*-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);*/
    /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);*/
/*}*/

/*.image_galery.active{*/
    /*border: 1px solid red;*/
/*}*/

/*.text_ref_image{*/
    /*margin-top: 2px;*/
/*}*/

/*#estampacion_content_buscador{*/
    /*height: 50px;*/
    /*margin-top: 15px;*/
/*}*/

/*.buscador_imagenes{*/
    /*width: 100%;*/
/*}*/

/*#texto_busqueda{*/
    /*width: 50%;*/
/*}*/

/*.buscador_imagenes .radio-inline{*/
    /*width: 20%;*/
/*}*/

/*#estampacion_content_form{*/
    /*height: 400px;*/
/*}*/

/*.cortina{*/
    /*width: 100%;*/
    /*height: 400px;*/
    /*border: 1px solid #cccccc;*/
/*}*/



/*.div_imagen_cortina{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*z-index: -10;*/
/*}*/

/*.div_imagen_cortina #imagen{*/
    /*cursor: move;*/
/*}*/

/*.div_imagen_cortina .div_texto_cortina{*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*cursor: move;*/
/*}*/

/*#imagen{*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/

/*.imagen_cortina70{*/
    /*left: 15% !important;*/
    /*top: 15% !important;*/
/*}*/

/*.td_preview_image{*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*text-align: center;*/
/*}*/

/*.preview_image{*/
    /*height: 100%;*/
    /*width: auto;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);*/
    /*padding: 0 !important;*/
    /*cursor: pointer;*/
/*}*/

/*.contentTable{*/
    /*min-height: 200px;*/
/*}*/