.navbar, .container, #footer{
 height: auto;
}

.container{
  height: 78%;
}

.contain_table_images_admin{
  height: auto !important;
  width: 100% !important;
}

.tokendfield_readonly{
  background-color: #B2b2b2b2;
}