#estampacion_content{
    height: 600px;
}

#content_image_galery{
    margin-top: 15px;
    margin-bottom: 15px;
}

.image_galery{
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    padding: 0 !important;
    cursor: pointer;
    margin-top: 20px;
}

.image_galery:hover{
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.9);
}

.image_galery.active{
    border: 1px solid red;
}

.text_ref_image{
    margin-top: 2px;
}

#estampacion_content_form{
    display: none;
}