#index_content{
    height:200px;
    margin-top: 20px;
}

.title_option_index{
    text-align: center;
    display: block;
    margin-top: 20px;
}

.text_option_index{
    text-align: justify;
    margin-top: 20px;
}