#header{
    height: 120px;
    background-image: url('../images/cabecera-380.png');
    background-repeat: no-repeat;
    background-position: 0 40px;
}

#header #nav_menu{
    margin-top: 90px;
    display: inline-block;
}

#header #nav_menu li a{
    text-decoration: none;
    color: inherit;
}

#header #nav_menu li.active{
    background-color: #b4162c;
    border-radius: 4px;
    color: #FFFFFF;
}

#header #nav_menu li.active:hover{
    color: #FFFFFF;
}

#header #nav_menu li:hover{
    background-color: #b4162c;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
}

#header #header_lang{
    margin-top: 90px;
    display: inline-block;
    float: right;
}